.signup{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    gap:2.5rem;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}
.signup form{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.signup input{
    width: 100%;
}
.passBar{
    margin-top: 1rem;
    width: 100%;
}
.hobbyInput{
    display: flex;
    width: 80%;
    /* margin: 1rem 0; */
}
.hobbyButton{
    background-color: #0d6efd;
    color:#fff;
    border: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}